# Folders
.vs/
**/Build/
**/Intermediates/
**/bin/
**/obj/
**/.vscode/

build/
cmake-build-*

.idea/

# Files
*.sln
*.csproj
!Coral.Managed/Coral.Managed-Static.csproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

Makefile

*.code-workspace